/*register-area*/

body {
    background-color: #e9e9e9;
}

.register {
    position: absolute;
    width: 500px;
    height: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 18px;
}

.register-content {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.register-title {
    margin: 10px 0;
    font-size: 24px;
}

.register-button-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    margin: 10px 0;
}

.register-form-input-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
}