body {
    background-color: #e9e9e9;
}

/*questionnaire-area*/

.questionnaire-area {
    position: relative;
    left: 50%;
    width: 500px;
    height: 500px;
    margin: 200px 0;
    transform: translate(-50%);
    background-color: #fff;
    border-radius: 18px;
}

.questionnaire-area-content {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 260px;
    text-align: center;
}

.questionnaire-title {
    margin: 10px 0;
    font-size: 24px;
}

.questionnaire-form {
    text-align: left;
}

.questionnaire-form-item {
    margin: 5px 0;
}

.questionnaire-multiple-select-area {
    display: flex;
    flex-direction: row;
}

.questionnaire-form-remark {
    padding: 8px 3px 0 10px;
    border: 2px dashed #e6e6e6;
    border-radius: 10px;
}

.questionnaire-form-ul {
    margin: 7px 0;
    padding-left: 20px;
}

.register-button-container {
    text-align: center;
    margin: 10px 0;
}

.questionnaire-button-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}